*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

section{
	padding: 50px 0;
}

.container{
	width: 1170px;
	margin: auto;
}

.page-head{
	padding: 398px 0 109px 0;
}

.page-head-bg{
	background: url("../img/main-top-background.png");
	background-size: cover;

}

.page-head-title{
	font-size: 48px;
	text-transform: uppercase;
	color: #fff;
}

.page-head-subtitle{
	font-size: 18px;
	color: #fff;
}

.page-head-slogan{
	display: inline-block;
	margin-top: 28px;
	text-transform: uppercase;
	font-size: 54px;
	color: #fff;
	padding: 35px 25px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	border-radius: 1px;
}

.text-block{
	text-align: center;
}

.text-block-title{
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.text-block-subtitle{
	font-size: 17px;
}

.text-block-highlight{
	width: 61px;
	border-top: 4px solid #F1AD1D;
	margin: 50px auto 0;
}

.image-block{
	display: block;
	margin: 50px auto;
}












.yellow-text{
	color: #F1AD1D;
}

.mr38{
	margin-right: 38px;
}